%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
{include_erts, false}.
{include_src, false}.
{vm_args, "./config/vm.args"}.
{sys_config, "./config/sys.config"}.
{release, {nerves_starter_kit, "0.0.1"}, [nerves_starter_kit,iex,exlager,l2elog]}.
{lib_dirs, ["_build/dev/lib/nerves_starter_kit/","_build/dev/lib/exlager"]}.
